/*اساسيات*/
@import url('https://fonts.googleapis.com/css2?family=Tajawal&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Tajawal', sans-serif;
}

li{ 
    list-style: none;
}

a{
text-decoration: none;
}
button{
    cursor: pointer;
    border: none;
}
input{
    outline: none;
}
/*التيس*/
.big-boy{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;

}

/*box1*/

.container1{
    background-color: #ffffff;
    color: white;
    height: 100vh;
    width: 60px;
    
    overflow: auto;
    box-shadow: 0px 1px 1px rgba(3, 7, 18, 0.02),
0px 5px 4px rgba(3, 7, 18, 0.03),
0px 12px 9px rgba(3, 7, 18, 0.05),
0px 20px 15px rgba(3, 7, 18, 0.06),
0px 32px 24px rgba(3, 7, 18, 0.08);
transition: 0.5s ease; 
}

.container1 li{
    color: #363636;
    opacity: 0.5;
    transition: 1 ease-in-out;
    cursor: pointer;
    }
.container1 li:hover{
        opacity: 1;
        transition: 1 ease-in-out;    
    }

/*on hover*/
.idf{
    display: none;
    margin: 0px 15px;
    font-size: large;
    color: #444444;
}


.btn-for-job{
    margin: 15px 0px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;


}
.btn-for-job svg{
       width: 30px;
    }
    
    .des-for-svg{
    width: 50px;
    display: none;
    text-align: right;
}

/**/

.container1-show{
    width: 200px;
    transition: 0.5s ease; 
    
    .idf{
        transition: 1.5s ease-in; 
        display: block;
    }

    .des-for-svg{
        display: block;
        width: 100px;
    }
    
    .btn-for-job{
        width: 200px;
        margin: 5px 10px;
        
    }
}





/*scroll bar suff*/
/* width */
    ::-webkit-scrollbar {
    visibility: hidden;
    scroll-behavior: smooth;
    width: 0px;
  }
 
/*end*/


.logo-section{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    margin: 20px;
    
}
.logo-img{
    border-radius: 20%;
  }

  .lines{
    display: flex;
    align-items: center;
    justify-content: center ;
    margin:20px 0px;
}

hr{
    width: 100%;
    border:1px solid #444444;
}
 


.btn-list{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    line-height: 50px;
    font-size: 20px;
}

.bi{
    margin-left: 10px;
}

.user-logo{
    display: flex;
    flex-direction: row;
    margin: 25px;
}

/*list drop*/

.dropbtn {
    font-size: 16px;
    position: relative;
}

  
  .dropdown-content {
    border-radius: 25px;
  
    display: none;
    position: absolute;
    top: 85%;
    left: 91%;
    background-color: #f1f1f1;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    font-size: small;
    font-weight: bold;
    padding: 5px 10px;
    text-decoration: none;
    display: block;
  }
  
  .dropdown-content a:hover {
      background-color: #ddd;
      border-radius: 25px;
      
    }
    
    .dropdown:hover .dropdown-content {
        display: block;
    }
    
    .active{
        opacity: 1 !important;
    }
    .active svg{
        border-radius: 5px;
        
    }
/**/  

/*box2*/
.container2{
    width: 100%;
background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.dev/svgjs' width='1440' height='780' preserveAspectRatio='none' viewBox='0 0 1440 780'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1767%26quot%3b)' fill='none'%3e%3crect width='1440' height='780' x='0' y='0' fill='url(%26quot%3b%23SvgjsLinearGradient1768%26quot%3b)'%3e%3c/rect%3e%3cpath d='M39 780L819 0L1500 0L720 780z' fill='url(%26quot%3b%23SvgjsLinearGradient1769%26quot%3b)'%3e%3c/path%3e%3cpath d='M526.2 780L1306.2 0L1409.7 0L629.7 780z' fill='url(%26quot%3b%23SvgjsLinearGradient1769%26quot%3b)'%3e%3c/path%3e%3cpath d='M1417 780L637 0L536.5 0L1316.5 780z' fill='url(%26quot%3b%23SvgjsLinearGradient1770%26quot%3b)'%3e%3c/path%3e%3cpath d='M907.8 780L127.79999999999995 0L-61.200000000000045 0L718.8 780z' fill='url(%26quot%3b%23SvgjsLinearGradient1770%26quot%3b)'%3e%3c/path%3e%3cpath d='M800.7405054917721 780L1440 140.74050549177207L1440 780z' fill='url(%26quot%3b%23SvgjsLinearGradient1769%26quot%3b)'%3e%3c/path%3e%3cpath d='M0 780L639.2594945082279 780L 0 140.74050549177207z' fill='url(%26quot%3b%23SvgjsLinearGradient1770%26quot%3b)'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1767'%3e%3crect width='1440' height='780' fill='white'%3e%3c/rect%3e%3c/mask%3e%3clinearGradient x1='11.46%25' y1='-21.15%25' x2='88.54%25' y2='121.15%25' gradientUnits='userSpaceOnUse' id='SvgjsLinearGradient1768'%3e%3cstop stop-color='rgba(48%2c 48%2c 48%2c 1)' offset='0'%3e%3c/stop%3e%3cstop stop-color='rgba(22%2c 22%2c 22%2c 1)' offset='0.41'%3e%3c/stop%3e%3cstop stop-color='rgba(22%2c 22%2c 22%2c 1)' offset='1'%3e%3c/stop%3e%3c/linearGradient%3e%3clinearGradient x1='0%25' y1='100%25' x2='100%25' y2='0%25' id='SvgjsLinearGradient1769'%3e%3cstop stop-color='rgba(0%2c 0%2c 0%2c 0.2)' offset='0'%3e%3c/stop%3e%3cstop stop-opacity='0' stop-color='rgba(0%2c 0%2c 0%2c 0.2)' offset='0.66'%3e%3c/stop%3e%3c/linearGradient%3e%3clinearGradient x1='100%25' y1='100%25' x2='0%25' y2='0%25' id='SvgjsLinearGradient1770'%3e%3cstop stop-color='rgba(0%2c 0%2c 0%2c 0.2)' offset='0'%3e%3c/stop%3e%3cstop stop-opacity='0' stop-color='rgba(0%2c 0%2c 0%2c 0.2)' offset='0.66'%3e%3c/stop%3e%3c/linearGradient%3e%3c/defs%3e%3c/svg%3e");    background-size: cover;
    object-fit: cover;
    background-repeat: no-repeat;

}

/*gird code*/
.grid{
    display: grid;
    grid-template-rows:  repeat( auto-fit ,auto-fit);
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    grid-template-areas: 
    "head head"     
    "table-bord table-bord"
    "dashbord card ";

    height: 100vh;
    overflow: hidden;
    gap: 7px;
    justify-items: center;

}

.head{
    grid-area: head;
    height: 150px;
    width: 100%;
    opacity:0;
    animation: smooth-appear 1s ease forwards;
}

.table-bord{
    grid-area: table-bord;
    background-color: white;
    border-radius: 5px;
    margin-right: 10px;
    width: 100%;
    overflow: auto;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.dashbord{
    grid-area: dashbord;    
    width: 100%;
    background-color: white;
    border-radius: 5px;
    margin-right: 10px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}


.card{
    width: 100%;
    margin-right: 10px;
    border-radius: 5px;
    border: #444444 1px solid;
    grid-area: card;
    overflow: hidden;
    background-color: #161616;
}

/*end of gird code*/

/*c2 اختصار ل كونتينر 2
h اختصار ل اسم الصندوق 
*/

.c2-h-list{
    display: flex;
    gap: 5px;
    margin:10px 5px;
    width: 100%;
}

.h-l{
    background-color: rgb(255, 255, 255);
    width: 215px;
    height: 140px;
    border-radius: 5px;
    padding: 25px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
     box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.h-l-insde{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 25px;
    padding: 10px;
}

.h-l2{

    background: rgb(18,18,18);
    background: linear-gradient(90deg, rgba(18,18,18,1) 0%, rgba(0,54,54,1) 57%, rgba(18,32,75,1) 100%);
    color: white;

    width: 215px;
    height: 140px;
    border-radius: 5px;
    padding-left:25px;
    
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.h-l2-insde{
    margin-right: 5px;
    border-radius: 25px;
    display: flex;
    align-items: center;
}

.h-h1{
    margin-right: 5px;
    font-size: 50px;
 text-align: right;
}

.h-p{
    text-align: center;
    font-size: larger;
}

/*ملخصات بس الارقام تختلف عشان الالوان*/
.l1{
    color: rgb(34, 87, 231);
}

.l1-insde{
    background-color: rgba(34, 87, 231, 0.178);
}
.l2{
    color:#FFA447;
}

.l2-insde{
    background-color:#ffa34741;
}
.l3{
    color:#81689D;
}

.l3-insde{
    background-color:#81689d34;
}
.l4{
    color:#FF004D;
}

.l4-insde{
    background-color:#ff004c2c;
}
.l5{
    color:#3D3B40;
}

.l5-insde{
    background-color:#3d3b402c;
}
/*search bar*/
.search-div{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    height: 70px
}
.search-input{
    background-color: #16161665;
    color: white;
    padding: 10px;
    border: none;
    border-radius:0px 25px 25px 0px;
    width: 230px;
    outline: none;
    box-shadow: rgba(36, 36, 36, 0.2) 0px 7px 29px 0px;
}

.search-div button{
    background-color: #161616;
    border: none;
    padding: 10px;
    border-radius:25px;
    color: white;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.search-container button {
    border-radius:25px 0px 0px 25px;
    float: left;
    padding: 7px 7px;
    margin-left: 16px;
  
    cursor: pointer;
  }

/*table*/
.table-div{
    height: 280px;
    overflow: auto;
    width: auto;
    border-radius: 25px;
}
table{
    border-collapse: collapse;
    width: 100%;
    text-align: center;
}
tr:has(th){
    background-color: #161616;
    width: 100%;
    height: 40px;
    color: white;
    opacity: 1;
}
tr{
    margin: 5px 0;
    border-bottom: 1px #161616 solid;
    opacity: 0.7;
}
tr:nth-child(even){
    background-color: #f2f2f2;
}
tr:hover{
    opacity: 1;
    border-bottom: 1px #161616 solid;
}


.delete{
    background-color: #ff0a0ac9;
    color: white;
    outline: none;
    border: none;
    font-size: medium;
    width: 50px;
    height: 30px;
}
.edit{
    background-color: #0a1affc9;
    color: white;
    outline: none;
    border: none;
    font-size: medium;
    width: 50px;
    height: 30px;
}

.banned{
    background-color: #161616;
    color: white;
    outline: none;
    border: none;
    font-size: medium;
    width: 50px;
    height: 30px;

}
/*dashbord*/

.error{
    background-color: #161616;
    z-index: 999999;
    color: white;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    border-radius: 5px;
    height: 100%;
    width: 100%;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50% );
    visibility: hidden;


}
/*slide show*/
.slider-frame{
    overflow: hidden;
    height: 215px;
    width: 1200px;

}

.img-container img{
height: 215px;
object-fit: contain;
width:100%;
}

/*---------- SLIDE ANIMATION --------------*/


@keyframes slide_animation{
    0% {left:0px;}
    10% {left:1200px;}
    20% {left:1200px;}
    30% {left:1200px;}
    40% {left: 2400px;}
    50% {left: 2400px;}
    60% {left: 1200px;}
    70% {left: 1200px;}
    80% {left:1200px;}
    90% {left: 1200px;}
    100% {left:0px;}
}



.slide-images{
    margin: 0 0 0 -2400px;
    position: relative;
    animation:slide_animation 33s infinite alternate running;
}

.img-container{
    height: 215px;
    width: 1200px;
    position: relative;
    float: left;
}
/*animaiton*/

@keyframes smooth-appear {
    to{
      opacity:1;
    }
  }
  @media only screen and (max-width:768px) {
.error{
    display: flex;
    justify-content: center;
    align-items: center;
    visibility: visible;
}
  }