/*اساسيات*/
@import url('https://fonts.googleapis.com/css2?family=Tajawal&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Tajawal', sans-serif;
}

li {

    list-style: none;
}

a {
    text-decoration: none;


}

button {
    cursor: pointer;
}

/*التيس*/
.big-boy {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;

}

/*box1*/

.container1 {
    background-color: #ffffff;
    color: white;
    height: 100vh;
    width: 70px;

    overflow: auto;
    box-shadow: 0px 1px 1px rgba(3, 7, 18, 0.02),
        0px 5px 4px rgba(3, 7, 18, 0.03),
        0px 12px 9px rgba(3, 7, 18, 0.05),
        0px 20px 15px rgba(3, 7, 18, 0.06),
        0px 32px 24px rgba(3, 7, 18, 0.08);
    transition: 0.5s ease;
}

.container1 li {
    color: #161616;
    opacity: 0.8;
    transition: 1 ease-in-out;
    cursor: pointer;
    }
.container1 li a{

        font-weight: 400;
    }

.container1 li:hover {
    opacity: 1;
    transition: 1 ease-in-out;
}

/*on hover*/
.idf {
    display: none;
    margin: 0px 15px;
    font-size: large;
    color: #444444;
}


.btn-for-job {
    margin: 15px 0px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;


}

.btn-for-job svg {
    width: 30px;
}

.des-for-svg {
    width: 50px;
    display: none;
    text-align: right;
}

/**/

.container1-show {
    width: 200px;
    transition: 0.5s ease;

    .idf {
        transition: 1.5s ease-in;
        display: block;
    }

    .des-for-svg {
        display: block;
        width: 100px;
    }

    .btn-for-job {
        width: 200px;
        margin: 5px 10px;

    }
}





/*scroll bar suff*/
/* width */
::-webkit-scrollbar {
    visibility: hidden;
    scroll-behavior: smooth;
    width: 0px;
}

/*end*/


.logo-section {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    margin: 20px;

}

.logo-img {
    border-radius: 20%;
}

.lines {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px 0px;
}

hr {
    width: 100%;
    border: 1px solid #444444;
}



.btn-list {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    line-height: 50px;
    font-size: 20px;
}

.bi {
    margin-left: 10px;
}

.user-logo {
    display: flex;
    flex-direction: row;
    margin: 25px;
}

/*list drop*/

.dropbtn {
    font-size: 16px;
    position: relative;
}


.dropdown-content {
    border-radius: 25px;

    display: none;
    position: absolute;
    top: 85%;
    left: 91%;
    background-color: #f1f1f1;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    font-size: small;
    font-weight: bold;
    padding: 5px 10px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #ddd;
    border-radius: 25px;

}

.dropdown:hover .dropdown-content {
    display: block;
}

.active {
    opacity: 1 !important;
    color: #FFBB64 !important;
    font-weight: bold;
}

.active svg {
    border-radius: 5px;

}

/**/
.container2 {
    width: 100%;
    background-color: #dadada;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.c2-sec1 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    border-radius: 5px;

    background-color: rgb(255, 255, 255);
    width: 70%;
    height: 75px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}

.c2-sec1 button {
    margin: 0px 25px;
    width: 180px;
    height: 40px;
    border-radius: 5px;
    border: none;
    font-weight: 800;
    font-size: 20px;
}

/*ازرار العمليات */
.c2-sec1 button:nth-child(1) {
    color: rgb(6, 103, 168);
    background-color: rgb(227, 232, 235);
    transition: 0.5s ease-in-out;
}

.c2-sec1 button:nth-child(2) {
    color: rgb(6, 185, 6);
    background-color: rgb(229, 238, 229);
    transition: 0.5s ease-in-out;
}

.c2-sec1 button:nth-child(3) {
    color: rgb(197, 83, 6);
    background-color: rgb(241, 234, 229);
    transition: 0.5s ease-in-out;
}

.c2-sec1 button:nth-child(4) {
    color: rgb(22, 206, 175);
    background-color: rgb(234, 240, 239);
    transition: 0.5s ease-in-out;
}



.c2-sec1 button:nth-child(1):hover {
    color: rgb(227, 232, 235);
    background-color: rgb(6, 103, 168);
    transition: 0.5s ease-in-out;
}

.c2-sec1 button:nth-child(2):hover {
    color: rgb(229, 238, 229);
    background-color: rgb(6, 185, 6);
    transition: 0.5s ease-in-out;
}

.c2-sec1 button:nth-child(3):hover {
    color: rgb(241, 234, 229);
    background-color: rgb(197, 83, 6);
    transition: 0.5s ease-in-out;
}

.c2-sec1 button:nth-child(4):hover {
    color: rgb(234, 240, 239);
    background-color: rgb(22, 206, 175);
    transition: 0.5s ease-in-out;
}

.dispaly-sec2 {
    background-color: white;
    border-radius: 5px;
    margin-right: 10px;


    margin-top: 10px;
    width: 70%;
    height: 80%;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.welcome {
    background-color: #161616;
    color: white;
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;
    gap: 25px;
    justify-content: center;
    align-items: center;
    font-size: 30px;
}

/*table*/
.table-div {
    display: none;
    transition: 0.5s ease-in-out;
}

table {
    border-collapse: collapse;
    text-align: center;
    width: 100%;
}

tr:has(th) {
    background-color: #161616;
    width: 100%;
    height: 40px;
    color: white;
    opacity: 1;
}

tr {
    border-bottom: 1px #161616 solid;
    opacity: 0.7;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

tr:hover {
    opacity: 1;
    border-bottom: 1px #161616 solid;
}

/*btn desgin*/
.delete {
    background-color: #ff0a0ac9;
    color: white;
    outline: none;
    border: none;
    font-size: medium;
    width: 50px;
    height: 40px;
}

.edit {
    background-color: #0a1affc9;
    color: white;
    outline: none;
    border: none;
    font-size: medium;
    width: 50px;
    height: 40px;
}

.submit {
    background-color: greenyellow;
    color: white;
    font-size: medium;
    border: none;
    outline: none;
    height: 40px;
    width: 70px;
}

.banned {
    background-color: #161616;
    color: white;
    outline: none;
    border: none;
    font-size: medium;
    width: 70px;
    height: 40px;

}

.unbanned-btn {
    background-color: #a5e729;
    color: white;
    outline: none;
    border: none;
    font-size: medium;
    width: 70px;
    height: 40px;

}

/*add secc*/

.add-cust {
    display: none;
    transition: 0.5s ease-in-out;
}

.add-div {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

/*search bar*/
.search-div {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    height: 70px
}

.search-input {
    background-color: #16161665;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 0px 25px 25px 0px;
    width: 230px;
    outline: none;
    box-shadow: rgba(36, 36, 36, 0.2) 0px 7px 29px 0px;
}

.search-div button {
    background-color: #161616;
    border: none;
    padding: 10px;
    height: 45px;
    border-radius: 25px;
    color: white;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.search-container button {
    border-radius: 25px 0px 0px 25px;
    float: left;
    padding: 7px 7px;
    margin-left: 16px;

    cursor: pointer;
}

/*input*/
.input-div1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: right;
    margin: 0px 25px;
    width: 100%;

}

.input-div2 {

    width: 100%;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: right;
    margin: 0px 25px;
    width: 100%;
}

label {
    margin-top: 25px;
    margin-bottom: 5px;
    font-size: larger;
    color: #444444;
}

input[type=text] {
    outline: none;
    font-size: large;
    border: none;
    border-bottom: #161616 1px solid;
    border-radius: 5px;
    margin-right: 5px;
}

input[type=file] {
    outline: none;
    font-size: large;
    border: none;
    border-radius: 5px;
    margin-right: 5px;
}

.gender-chechbox {
    display: flex;
    flex-direction: row;
    gap: 55px;
    color: #161616;
}

select {
    width: 150px;
    font-size: large;
    outline: none;
    border: none;
}

/*unbaaned sec*/
.unbanned {
    display: none;
    transition: 0.5s ease-in-out;
}

.show {
    display: block;
}

.hide {
    display: none;
}