@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,323;1,323&display=swap');

/*splash screen*/

.intro{
    position: fixed;
    z-index: 9999999999999;
    left: 0;
    top: 0;
    width: 100%;
    height: 100vh;
    background-color: #161616;
    transition: 1s;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 25;
}

.logo-header{
    overflow: hidden;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%,-50%);
    color: rgb(255, 255, 255);
}

.logo{
    position: relative;
    display: inline-block;
    bottom: -20px;
    opacity: 0;
    font-family: "Roboto Mono", monospace ,'Tajawal', sans-serif;;
    font-optical-sizing: auto;
    font-weight: 323;
    font-style: normal;
}

.logo.active{
    bottom: 0;
    opacity: 1;
    transition: 0.5s ease-in-out ;
}

.logo.fade{
    bottom: 150px;
    opacity: 0;
    transition:  0.5s ease-in-out;
}



/* HTML: <div class="loader"></div> */
.loader {
    height: 45px;    
    aspect-ratio: 1.4;
    background:white;
    background-size: 72% 26%;
    animation: l28 1s infinite;
  }
  @keyframes l28 {
   0%,
   20%  {background-position:50% calc(0*100%/3),50%  calc(1*100%/3),50%  calc(2*100%/3),50% calc(3*100%/3)}
   40%  {background-position:50% calc(0*100%/3),100% calc(1*100%/3),0    calc(2*100%/3),50% calc(3*100%/3)}
   60%  {background-position:50% calc(0*100%/3),0    calc(1*100%/3),100% calc(2*100%/3),50% calc(3*100%/3)}
   80%,
   100% {background-position:50% calc(0*100%/3),50%  calc(1*100%/3),50%  calc(2*100%/3),50% calc(3*100%/3)}
  }
