
.continer{
    background-color: white;
    height: 100vh;
    margin: 15px;
    border-radius: 5px;
    overflow: auto;

}

a{
    color: white;
}
/*search bar*/


.search_div_container {
    display: flex;
    gap: 25px;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin: 15px 0px;
  }

.input_search {
    border-radius: 25px;
    background-color: #ffffff;
    gap: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-right: 5px;
    box-shadow: 0px 0px 15px -9px rgba(0, 0, 0, 0.75);

    button{
        background-color: transparent;
        border: none;
        outline: none;
    }
}

.input_search input[type="search"] {
      outline: none;
    background-color: #ffffff;
    width: 20rem;
    height: 2.5rem;
    border: none;
    border-radius: 25px 0px 0px 25px;
  }
  
  .input_search input[type="search"]:enabled {
    opacity: 0.7;
    font-size: larger;
    padding-right: 5px;
  }
  
  .input_search svg {
    color: #161616;
    margin-right: 5px;
  }
    /* clears the ‘X’ from Chrome */
    input[type="search"]::-webkit-search-cancel-button {
        display: none;
      } 
      
      
      .delete_search {
        font-size:20px;
        width: 150px;
        height: 50px;
        background-color: #161616;
        color: white;
        border: 1px solid rgb(229, 229, 229);
        filter: drop-shadow(rgba(0, 0, 0, 0.2) 0px 0px 5px);
        border-radius: 8px;
        transition: 0.5s ease-in-out;
      }
/*table */
.table-div{
    overflow: auto;
    scroll-behavior: smooth;
}
table{
    border-collapse: collapse;
    text-align: center;
    width: 100%;
}
tr:has(th){
    background-color: #161616;
    width: 100%;
    height: 40px;
    color: white;
    opacity: 1;
}
tr{
    border-bottom: 1px #161616 solid;
    opacity: 0.7;
}
tr:nth-child(even){
    background-color: #f2f2f2;
}
tr:hover{
    opacity: 1;
    border-bottom: 1px #161616 solid;
}


@media only screen and (max-width:768px) {
    table{
        font-size: 15px;
        width: 100%;
    }
    
    
  }

  